@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* CSS for the Header and Nav Bar */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.company__name {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: #ecf0f1;
    font-size: 9px;
    z-index: 2;
    text-align: center;
}

.logo {
    cursor: pointer;
    z-index: 2;
}

li, .nav__opt {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
    z-index: 1;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li .nav__opt {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.nav__opt:hover {
    color: #0088a9;
}

.nav__button {
    background-color: rgb(0, 136, 169, 1);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ecf0f1;
}
.nav__button:hover {
    background-color: rgb(0, 136, 169, 0.8);
}

body {
    background-color:#ecf0f1;
}

/* CSS for the Intro Section */

.intro__container {
    height: 800px;
    width: 100%;
    position: relative;
}

.intro__img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.intro__content {
    width: 600px;
    height: 200px;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.75);
    display: block;
    border-radius: 50px;
    text-align: center;
    justify-self: center;
    align-self: center;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -100px;
}

.intro__content h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 48px;
    text-align: center;
    padding: 25px 0 0 0;
}

.intro__content p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 24px;
    text-align: center;
    padding: 20px 0 0 0;
}

/* CSS for the services section */

.services__container {
    height: 800px;
    width: 100%;
    position: relative;
}
.services__img {
    width: 100%;
    height: 100%;
    position: absolute;
}
.services__content {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.75);
    width: 500px;
    height: 250px;
    display: block;
    border-radius: 50px;
    text-align: center;
    justify-self: center;
    align-self: center;
    top: 35%;
    right: 10%;
}

.services__content h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 48px;
    text-align: center;
    padding: 25px 0 0 0;
}

.services__content p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 20px;
    text-align: center;
    padding: 20px 0 0 0;
}

.services__button {
    background-color: rgb(0, 136, 169, 1);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ecf0f1;
    margin: 20px 0 0 0;
}

.services__button:hover {
    background-color: rgb(0, 136, 169, 0.8);
}

/* CSS for the About Section */

.about__container {
    height: 800px;
    width: 100%;
    position: relative;
}
.about__img {
    width: 100%;
    height: 100%;
    position: absolute; 
}

.about__content {
    position: absolute;
    display: flex;
}

.about__team {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-left: 600px;
}

.about__text {
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255, 0.75);
    width: 500px;
    height: 250px;
    text-align: center;
    top: 50%;
    margin-top: -125px;
    left: 21%;
    margin-left: -250px;
    border-radius: 50px;
}

.about__text h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 48px;
    text-align: center;
    padding: 25px 0 0 0;
}

.about__button {
    background-color: rgb(0, 136, 169, 1);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ecf0f1;
    margin: 175px 0 0 0;
}

.about__button:hover {
    background-color: rgb(0, 136, 169, 0.8);
}

/* CSS for Contact Section */

.contact__container {
    height: 800px;
    width: 100%;
    position: relative;
}

.contact__img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.contact__content {
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255, 0.75);
    width: 500px;
    height: 250px;
    text-align: center;
    border-radius: 50px;
    top: 50%;
    right: 50%;
    margin-top: -125px;
    margin-right: -250px;
}

.contact__heading {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 48px;
    text-align: center;
    padding: 25px 0 0 0;
}

.contact__button {
    background-color: rgb(0, 136, 169, 1);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ecf0f1;
    margin: 20px 0 0 0;
}

.contact__button:hover {
    background-color: rgb(0, 136, 169, 0.8);
}

/* CSS for the footer */

.footer__container {
    background-color: #24252a;
    display: flex;
    justify-content: space-around;
    padding: 30px 10%;
}

.footer__col .footer__head {
    text-decoration: none;
    list-style: none;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecf0f1;
}

li, .footer__opt {
    text-decoration: underline;
    list-style: none;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ecf0f1;
    text-align: center;
}

.footer__text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ecf0f1;
    width: 30%
}

.footer__logo {
    height: 70px;
    width: 70px;
}

.footer__logo--text {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: #ecf0f1;
    font-size: 12px;
    text-align: center;
}

/* CSS for Services Page */

.services__container {
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.catagory__container {
    height: 45%;
    width: 35%;
    border: 5px;
    border-style: solid;
    border-color: #000;
    display: block;
    text-align: center;
    background-color: #fff;
    border-radius: 60px;
    margin: 20px 0 0 0;
}

.container__head {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 30px;
    font-style: underline;
    padding: 10px 0 10px 0;
}

.container__text {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 18px;
    padding: 10px 0 10px 0;
}

.container__img {
    width: 300px;
    height: 200px;
    text-align: center;
}

.catagory__container:hover {
    background-color: #f0f0f4;
}

/* CSS for the about page */

.about__container--page {
    width: 100%;
    height: 1200px;
    display: block;
    align-self: center;
    padding: 0 10% 0 10%;
}

.tutors {
    width: 100%;
    display: block;
    align-self: center;
}

.tutor__img {
    width: 250px;
    border-radius: 125px;
    border: 5px;
    border-style: solid;
}

.tutor__para {
    width: 40%;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 22px;
    text-align: center;
    padding: 40px;
}

.about__para {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 30px;
    padding: 20px 0 20px 0;
}

.tutor__one, .tutor__two {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 40px 0 40px 0;
    padding: 40px 0 40px 0;
    background-color: #fff;
    border: 10px;
    border-style: solid;
    border-radius: 200px;

}